.show {
    position: relative;
    flex-shrink: 0;
    width: 354px;
    height: 198px;
    border-radius: 16px;
    overflow: hidden;

    .showBanner, .showVideo {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}